<div id="<%= dom_id student_info %>">
  <tr>
    <td><%= student_info.first_name %></td>
    <td><%= student_info.last_name %></td>
    <td><%= student_info.age %></td>
    <td><%= student_info.address %></td>
    <td><%= student_info.occuption %></td>
    <td><%= student_info.geneder %></td>
    <td><%= student_info.matrial_status %></td>
    <td><%= link_to "Show", student_info %></td>
  </tr
</div>
